body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgb(215, 215, 215);
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  margin-top: 0;
}

#root {
  background-color: white;
  box-shadow: 5px 5px 5px 5px grey;
  text-align: center;
  align-self: center;
  justify-self: center;
  min-height: 80vh;
  width: 80vh;
  padding: 40px 10px;
}

#root>div,
form {
  display: grid;
  align-self: center;
  justify-self: center;
}

form {
  gap: 20px;
  width: 100%;
}

input,
button {
  padding: 10px 15px;
  font-family: inherit;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(192, 192, 192);
}

input:focus {
  border-bottom: 1px solid blue;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  justify-self: center;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

ul {
  padding: 0;
}

li * {
  margin-right: 5px;
}

hr {
  border-top: 0.1px solid grey;
}

table {
  width: 50%;
  align-self: center;
  justify-self: center;
}

table * {
  text-align: start;
}